/**
 * Styles for ServiceMeshPage
 */

.service-mesh-page {
  width: 100%;
}

.service-mesh-page__header {
  margin-bottom: 24px;
}

.service-mesh-page__title {
  margin-bottom: 4px !important;
}

.service-mesh-page__subtitle {
  font-size: 14px;
  color: #8c8c8c;
}
